<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css"	href="../../static/css/bootstrap/bootstrap.css"	th:href="@{/bootstrap/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	href="../../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
</head>
<body>
	<header th:replace="template :: header"></header>
	<div class="container container-panel-commande-admin">
		<div th:replace="template :: adminNav"></div>
		<h1>Commandes</h1>
		<div class="col-xs-12" th:if="${commandesSemaine == null}">
			<p>Aucune Commandes n'est prévues</p>
		</div>
		<div class="col-xs-12" th:if="${commandesSemaine != null}">
		<h3>Commandes en Attente</h3>
			<table class="table table-striped ">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nom</th>
						<th>Telephone</th>
						<th>Date</th>
						<th>Type</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p:${commandesSemaine}">
						<td class="col-xs-1" th:text="${p.id}"></td>
						<td th:text="${p.utilisateur.nom}+ ' ' + ${p.utilisateur.prenom}"></td>
						<td th:text="${p.utilisateur.telephone}"></td>
						
						<td th:text="${#dates.format(p.commande_prevu_pour, 'dd-MMM-yyyy à h:m')}"></td>
						<td th:if="${p.confection != null}" th:text=" ${#strings.substring(p.confection.class,27,#strings.length(p.confection.class))}"></td>
						<td th:if="${p.confection == null}">Simple</td>
						<td>
						<a class="btn btn-default" th:href="@{Visualiser(id=${p.id})}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
						<a class="btn btn-success" th:href="@{Terminer(id=${p.id})}"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
		<div class="col-xs-12" th:if="${commandesTerminee != null}">
		<h3>Commandes terminée</h3>
			<table class="table table-striped ">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nom</th>
						<th>Telephone</th>
						<th>Date</th>
						<th>Type</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p:${commandesTerminee}">
						<td class="col-xs-1" th:text="${p.id}"></td>
						<td th:text="${p.utilisateur.nom}+ ' ' + ${p.utilisateur.prenom}"></td>
						<td th:text="${p.utilisateur.telephone}"></td>
						<td th:text="${#dates.format(p.date_fin, 'dd-MMM-yyyy')}"></td>
						<td th:if="${p.confection != null}" th:text="${#strings.substring(p.confection.class,27,#strings.length(p.confection.class))}"></td>
						<td th:if="${p.confection == null}">Simple</td>
						<td>
						<a class="btn btn-default" th:href="@{Visualiser(id=${p.id})}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
	<footer th:replace="template :: footer"></footer>
</body>
</html>