<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head"></head>
<body>
	<header th:replace="template :: header"></header>
	<div class="container container-panel-preparation">
		<H1>Préparation</H1>
		<table class="table table-striped ">
				<thead>
					<tr>
						<th>ID</th>
						<th>Label</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p:${preparation}">
						<td th:text="${p.id}"></td>
						<td th:text="${p.label}"></td>
						<td style="width: 175px;">
						 <a	class="btn btn-danger" th:href="@{SupprimerProduitPrepare(id=${p.id})}">Supprimer</a>
						</td>
					</tr>
				</tbody>
			</table>
	</div>
	<footer th:replace="template :: footer"></footer>
</body>
</html>