<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head"></head>
<body>
	<header th:replace="template :: header"></header>
	<div class="container container-panier">
		<div class="col-xs-12">
			<h1>Panier</h1>
			<div th:if="${ligne == null}">
				<p>Aucun produits dans le panier</p>
			</div>
			<div th:if="${ligne != null}">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Produit</th>
							<th>Quantité</th>
							<th>Prix</th>
							<th>Coupe</th>
							<th>Supprimer</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p:${ligne}">
							<td th:text="${p.produit.nom}"></td>
							<td class="col-md-1">
							<p><span th:text="${p.quantite}"></span>
								<span th:if="${p.produit.unite == 'Pce'}" th:text="Pce"></span>
						 	 	<span th:if="${p.produit.unite == 'g'}" th:text="g"></span>
						 	 	<span th:if="${p.produit.unite == 'Kg'}" th:text="g"></span>
							</p>
							</td>
							<td class="col-md-1" th:text="${p.prix}+' €'"></td>
							<td th:text="${p.choix_coupe}"></td>
							<td class="col-md-1"><a class="btn btn-sm btn-danger"
								th:href="@{/User/Commande/SupprimerLigne(id=${p.produit.id})}">Supprimer</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div th:if="${commande != null} AND ${ligne != null}">
				<p>
					Total : <span th:text="${commande.total}+' €'"></span>
				</p>
				<form  class="form-inline"
					th:action="@{/User/comfirmerCommande(id=${commande.id})}"
					method="POST" th:object="${commande}">
					<div class="container form-group">
						
								<label>Date souhaitée pour la réalisation de cette commande : </label>
								 <input type='text' class="form-control datetimepicker" name="commande_prevu_pour"	id='datetimepicker2' />
								
											</div>
					 <button type="submit" class="btn btn-default">Confirmer ma commande</button>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="template :: footer"></footer>

	<script type="text/javascript">
	
	</script>
</body>
</html>