<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head"></head>
<body>
	<header th:replace="template :: header"></header>
	<div class="container container-connexion">

		<div class="col-sm-6 col-sm-offset-3 spacer">
			<div class="alert alert-danger" th:if="${param.logout}">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							</button>
				<span class="red"> Vous avez été déconnecté</span>
			</div>
			<div class="panel panel-default ">
				<div class="panel-heading">Connexion</div>
				<div class="panel-body">
					<form th:action="@{/Login}" method="post">
						<div class="alert alert-danger" th:if="${param.error}">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							</button>
							<span class="red"> Pseudo ou Mot de passe invalide </span>
						</div>
						<div class="form-group" th:classappend="${param.error} ? 'has-error' : ''">
							<label class="control-label">Pseudo</label> 
							<input type="text" name="username" class="form-control"/> 
							<span class="text-danger"></span>
						</div>
						<div class="form-group" th:classappend="${param.error} ? 'has-error' : ''">
							<label class="control-label">Mot de passe</label>
							<input type="password" name="password" class="form-control" />
							<span class="text-danger"></span>
						</div>
						<button type="submit" class="btn btn-primary">Se connecter</button>
						<a th:href="@{/Inscription}" class="pull-right">Pas encore inscrit ?</a>
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="template :: footer"></footer>
</body>
</html>