<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css"	href="../static/css/bootstrap/bootstrap.css"	th:href="@{/bootstrap/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css"	href="../static/css/dateTime.css"	th:href="@{/css/dateTime.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" 	th:href="@{/css/myStyle.css}" />
	<script src="https://use.fontawesome.com/5f52427035.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
		<div class="container">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			
				<a class="navbar-brand" href="#" th:href="@{/Index}">Pata Negra</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li th:classappend="${page == 'home' ? 'active' : ''}"><a href="#" th:href="@{/Index}">Accueil</a></li>
					<li th:classappend="${page == 'Produit' ? 'active' : ''}"><a href="#" th:href="@{/Produit/Index}">Produits</a></li>
					<li th:classappend="${page == 'Commande' ? 'active' : ''}"><a href="#" th:href="@{/Commande/Index}">Commandes</a></li>
					
					<li th:classappend="${page == 'Actualite' ? 'active' : ''}"><a href="#" th:href="@{/Actualite/Index}">Actualité</a></li>
					<li th:classappend="${page == 'Contact' ? 'active' : ''}"><a href="#" th:href="@{/Contact/Index}">Contact</a></li>

				</ul>
			
				<ul class="nav navbar-nav navbar-right">
			
          			<li sec:authorize="hasRole('ROLE_USER')"><a href="/signin" th:href="@{/User/Index}"><i class="icon_account" aria-hidden="true"></i><span>Mon Compte</span></a></li>
					<li sec:authorize="hasRole('ROLE_USER')"><a href="/signin" th:href="@{/User/Panier}"><i class="icon_panier" aria-hidden="true"></i><span>Mon panier</span> </a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/signin" th:href="@{/Admin/Index}">Admin	Panel</a></li>
					<li sec:authorize="isAnonymous()" th:classappend="${page == 'Panel-admin' ? 'active' : ''}">
						<a href="/signin" th:href="@{/Login}">Se connecter</a>
					</li>
					<li sec:authorize="isAuthenticated()"><a href="/logout"	th:href="@{/Logout}"><i class="icon_lock" aria-hidden="true"></i><span>Se déconnecter</span></a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<div class="col-xs-12 layerSlider" th:fragment="layerSliger"></div>
	
	<div th:fragment="menuUtilisateur">
			<ul class="menuUser">
				<li><a th:style="'background:url(' + @{/img/user/logo_mon_panier.jpg} + ')  no-repeat right bottom;background-size: 200px auto;'" th:href="@{/User/Panier}">Mon panier</a></li>
				<li><a th:style="'background:url(' + @{/img/user/logo_mes_commandes.jpg} + ')  no-repeat right bottom;background-size: 200px auto;'" th:href="@{/User/Commande/Index}">Mes Commandes</a></li>
				<li><a th:style="'background:url(' + @{/img/user/logo_mon_compte.jpg} + ')  no-repeat right bottom;background-size: 200px auto;'" th:href="@{/User/Compte/Index}">Mon compte</a></li>
			</ul>
	</div>
	
	<div th:fragment="menuAdmin">
		<ul class="menuAdmin">
			<li><a th:style="'background:url(' + @{/img/admin/produits.jpg} + ')  no-repeat right bottom;background-size: 200px auto;'" th:href="@{/Admin/Produit/Index}">Produits</a></li>
			<li><a class="align-middle" th:style="'background:url(' + @{/img/admin/articles.jpg} + ')  no-repeat right bottom;background-size: 200px auto;'" th:href="@{/Admin/Article/Index}">Articles</a></li>
			<li><a class="align-middle" th:style="'background:url(' + @{/img/admin/logo_mes_commandes.jpg} + ')  no-repeat right bottom;background-size: 200px auto;'" th:href="@{/Admin/Commande/Index}">Commandes</a></li>
			<li><a class="align-middle" th:style="'background:url(' + @{/img/admin/suggestion.jpg} + ')  no-repeat right bottom;background-size: 200px auto;'" th:href="@{/Admin/Suggestion/Index}">Suggestions</a></li>
			<li><a class="align-middle" th:style="'background:url(' + @{/img/admin/preparation.jpg} + ')  no-repeat right bottom;background-size: 200px auto;'" th:href="@{/Admin/Preparation/Index}">Preparation</a></li>
			<li><a class="align-middle"  th:style="'background:url(' + @{/img/admin/utilisateurs.jpg} + ')  no-repeat right bottom;background-size: 200px auto;'" th:href="@{/Admin/Utilisateur/Index}">Utilisateurs</a></li>
		</ul>
	</div>
	
	<footer th:fragment="footer">
	<div class="container">
		<p class="info">Magasin Pata Negra | Rue de l'Eglise 170 - 1150 Woluwe-Saint-Pierre, Belgique | +32 2 770 95 25 </p>
		<p class="copy">© Pata Negra Stockel 2017</p>
		<p class="condition">Mémoire 2017</p>
		<p class="powered">Powered by BenedettoDev</p>
		
		
	</div>
	<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap/js/moment.js}"></script>
	<script type="text/javascript"
		th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/fr.js"></script>
	<script type="text/javascript"
		th:src="@{/bootstrap/js/bootstrap-datetimepicker.js}"></script>
			<script type="text/javascript" th:src="@{/js/app.js}"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-55964538-1', 'auto');
	  ga('send', 'pageview');
	
	</script>
	</footer>
</body>

</html>